
{{ 'section-banner.css' | asset_url | stylesheet_tag }}

<div class="section-banner">
    <div class = "section-banner-box">
        <img class="banner-background-image"src="{{ 'background.png' | asset_url  }}"/>
    </div>

    <div class = "section-banner-info">
        
        <span class="section-banner-info-date" >
            From Now until Nov 31.
        </span>
        
        <span class="section-banner-info-ultimate" >
            THE ULTIMATE
        </span>

        <span class="section-banner-info-friday" >
            BLACK FRIDAY
        </span>

        <div class="section-banner-info-deals-group" >

            <img class="section-banner-info-deals-line" src="{{ 'Line 3.png' | asset_url  }}"/>
            <span class="section-banner-info-deals-text">DEALS</span>
            <img class="section-banner-info-deals-line" src="{{ 'Line 3.png' | asset_url  }}"/>
        </div>

        <div class="section-banner-info-description" >
            It's Black Friday mood and we're pulling out all the stops! To keep this
            train chugging, we've Exclusive deals that you can't get anywhere else
        </div>
    </div>
</div>

<ul class="shop-description">
    <li class="shop-description-shipping">
        <img class="shop-description-shipping-image" src="{{ 'Frame-shipping.png' | asset_url  }}"/>
        <span class="shop-description-shipping-title" >FREE SHIPPING</span>
        <span class="shop-description-shipping-text" >Free delivery for all orders</span>

    </li>
    <li class="shop-description-guarantee">
        <img class="shop-description-guarantee-image" src="{{ 'Frame-money.png' | asset_url  }}"/>
        <span class="shop-description-guarantee-title" >MONEY GUARANTEE</span>
        <span class="shop-description-guarantee-text" >90 day money back</span>

    </li>
    <li class="shop-description-support">

        <img class="shop-description-support-image" src="{{ 'Frame-support.png' | asset_url  }}"/>
        <span class="shop-description-support-title" >24/7 LIFETIME</span>
        <span class="shop-description-support-text" >Support at no extra cost</span>

    </li>
</ul>


{% schema %}
{
    "name": "Banner",
    "presets": [
        {
            "name": "banner"
        }
    ]
}
{% endschema %}