
{{ 'section-banner.css' | asset_url | stylesheet_tag }}

<div class="section-banner">
    <div class = "section-banner-info">

        <div class="section-banner-info-date-box">
            <span class="section-banner-info-date-text" >
                From Now until Nov 31.
            </span>    
        </div>
        
        <span class="section-banner-info-ultimate" >
            THE ULTIMATE
        </span>

        <span class="section-banner-info-friday" >
            BLACK FRIDAY
        </span>

        <div class="section-banner-info-deals-group" >

            <img class="section-banner-info-deals-line-left" src="{{ 'Line 3.png' | asset_url  }}"/>
            <span class="section-banner-info-deals-text">DEALS</span>
            <img class="section-banner-info-deals-line-right" src="{{ 'Line 3.png' | asset_url  }}"/>
        </div>

        <span class="section-banner-info-description" >
            It's Black Friday mood and we're pulling out all the stops! To keep this
            train chugging, we've Exclusive deals that you can't get anywhere else
        </span>
    </div>

    <div class="section-banner-pictures">
        
        <img class="section-banner-pictures-windows-11" src="{{ 'mockup-window-11 1.png' | asset_url  }}"/>
        <img class="section-banner-pictures-office-2021-hb-pc" src="{{ 'office_2021_home___business_pc_2 3.png' | asset_url  }}"/>
        <img class="section-banner-pictures-office-2019-hs-mac" src="{{ 'mac2019hs 3.png' | asset_url  }}"/>

    </div>
</div>

{% schema %}
{
    "name": "Banner",
    "presets": [
        {
            "name": "banner"
        }
    ]
}
{% endschema %}