
{{ 'section-banner.css' | asset_url | sylesheet_tag }}

<div class="section-banner">
    <div class = "section-banner-box">
        <img class="banner-background-image"src="{{ 'background.png' | asset_url  }}"/>
       <p class="banner-background"> Banner </p>
    </div>

    <div class = "section-banner-info">
        <img class="banner-banner-info-group" src="{{ 'Group 2.png' | asset_url  }}"/>
        
        <span class="section-banner-info-date" >
            From Now until Nov 31.
        </span>
        
        <span class="section-banner-info-ultimate" >
            THE ULTIMATE
        </span>

        <span class="section-banner-info-friday" >
            BLACK FRIDAY
        </span>

        <div class="section-banner-info-deals-group" >

            <img class="section-banner-info-deals-line" src="{{ 'Line 3.png' | asset_url  }}"/>
            <span class="section-banner-info-deals-text">DEALS</span>
            <img class="section-banner-info-deals-line" src="{{ 'Line 3.png' | asset_url  }}"/>
        </div>

        <div class="section-banner-info-description" >
            It's Black Friday mood and we're pulling out all the stops! To keep this
            train chugging, we've Exclusive deals that you can't get anywhere else
        </div>
    </div>
</div>

<ul class="shop-description">
    <li class="shop-description-shipping"></li>
    <li class="shop-description-guarantee"></li>
    <li class="itshop-description-support"></li>
</ul>


{% schema %}
{
    "name": "Banner",
    "presets": [
        {
            "name": "banner"
        }
    ]
}
{% endschema %}